<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <div class="outer-table">
          <h1 class="content-header">Add Brochure</h1>
          <form [formGroup]="addForm" (ngSubmit)="onSubmit()" id="addForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" name="name" class="form-control">
            </div>
            <div class="form-group">
              <label>Country</label>
              <select formControlName="countryId" name="countryId" class="form-control">
                <option [value]="country.id" *ngFor="let country of countries ">{{ country.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="text">Text</label>
              <input type="text" formControlName="text" name="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="image">Image ( 418 x 592 )</label>
              <input type="file" formControlName="thumbnail" name="thumbnail" (change)="handleImageInput($event.target.files)">
            </div>
            <div class="form-group">
              <label>Add File</label>
              <input type="file" formControlName="link" name="link" (change)="handleFileInput($event.target.files)">
            </div>
            <div class="form-group">
              <label for="priority">Priority</label>
              <input type="number" formControlName="priority" name="priority" class="form-control">
            </div>
            <div class="form-group">
              <label for="active">Active</label>
              <input type="checkbox" formControlName="active" name="active" style="margin-left:15px;">
            </div>
            <button class="btn btn-success">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
