<div class="wrapper">
    <div class="content-wrapper">
      <div class="content-header">
        <div class="content">
          <div class="outer-table">
            <div class="create-buttons">
              <button class="btn btn-success pull-right" (click)="addFaqType()"> Add Faq Type</button>
            </div>
            <table id="dataTable" class="row-border hover table table-striped" style="margin-top:20px">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of faqtype">
                  <td>{{item.name}}</td>
                  <td>{{item.code}}</td>
                  <td>
                    <button class="btn btn-danger pull-right table-button" (click)="deleteFaqType(item)">Delete</button>
                    <button class="btn btn-info pull-right table-button" (click)="editFaqType(item)">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  