<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <div class="outer-table">
          <div class="create-buttons">
          </div>
          <table id="dataTable" class="row-border hover table table-striped" style="margin-top:20px">
            <thead>
              <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Serial Number</th>
                <th  class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productRegister">
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.serialNumber}}</td>
                <td>
                  <button class="btn btn-info pull-right table-button" (click)="editProductRegister(item)" id="info" >More Information</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
