h1{
  font-size: 26px;
  font-weight: bold;
}

#addForm{
  padding:20px;
}

.example-container{
  padding:10px;
}

.example-text{
  padding: 20px;
  color: grey;
}

.example-header{
  color: #ed1c24;
  font-size: 16px;
}

.example-group{
  margin: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.fa-exclamation{
  color: #eddf1c;
  font-size: 16px;
  padding: 5px;
}