<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <h1 class="content-header">Add News</h1>
        <div class="row">

          <div class="col-sm-8">
            <div class="panel">
              <div class="panel-body">
                <ul class="nav">
                  <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#text">Texts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#image">Images</a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active" id="text">
                    <ul class="nav">
                      <li class="nav-item" style="display: inline-block;" *ngFor="let country of countries; let index = index"
                        [class.active]="index == 0">
                        <a class="nav-link" data-toggle="tab" href="#{{ country.code }}">{{ country.name }}</a>
                      </li>
                    </ul>

                    <div class="tab-content">
                      <div class="tab-pane" *ngFor="let country of countries; let countryIndex = index" [class.active]="countryIndex == 0"
                        id="{{ country.code }}">
                        <ul class="nav">
                          <li class="nav-item" style="display: inline-block;" *ngFor="let language of country.languages; let index = index"
                            [class.active]="index == 0">
                            <a class="nav-link" data-toggle="tab" href="#lang-{{ country.code }}-{{ language.code }}">{{
                              language.name }}</a>
                          </li>
                        </ul>

                        <div class="tab-content">
                          <div class="tab-pane" *ngFor="let language of country.languages; let index = index"
                            [class.active]="index == 0" id="lang-{{ country.code }}-{{ language.code }}">
                            <label class="edit-label">Title</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].title">
                            <label class="edit-label">Subtitle</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].subtitle">
                            <label class="edit-label">Description</label>
                            <div [(ngModel)]="text[country.id][language.id].description" [froalaEditor]></div>
                            <div *ngIf="homeIsInEditMode" [froalaEditor]="options" [(ngModel)]="homeMessage.libelleMessage">
                            </div>
                            <!-- <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].description"> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="image">
                    <div class="panel-body">
                      <div class="form-group">
                        <div class="row example-group">
                          <div class="col-sm-12 ">
                            <label class="example-header">Examples:</label>
                          </div>
                          <div class="col-sm-12 example-container">
                            <img src="{{newsThumbnailsImage}}" width="200" style="object-fit: contain;" (click)="showImage(newsThumbnailsImage)" />
                            <label class="example-text">[<i class="fa fa-exclamation"></i><span style="color: #eddf1c;">Yellow </span> Area] News Thumbnail Photo ( 700 × 465 ) </label>
                          </div>
                          <div class="col-sm-12 example-container">
                            <img src="{{newsHighResolutionImage}}" width="200" style="object-fit: contain;" (click)="showImage(newsHighResolutionImage)" />
                            <label class="example-text">News High Resolution Image</label>
                          </div>
                          <div class="col-sm-12  example-container">
                            <img src="{{newsTitleImage}}" width="200" style="object-fit: contain;" (click)="showImage(newsTitleImage)" />
                            <label class="example-text">News Title Photo ( 700 × 465 )</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Add Image</label>
                        <input #imageInput type="file" (change)="handleImageInput($event.target.files)" multiple>
                      </div>
                      <div class="form-group" *ngFor="let image of imageList; let imageIndex = index;">
                        <div class="col-sm-8">
                          <label class="image-name"> {{ image.name }} </label>
                          <div class="form-group">
                            <label>Image Name</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="image.dName" class="form-control" />
                          </div>
                          <div class="form-group">
                            <label>Image Priority</label>
                            <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="image.priority"
                              class="form-control" />
                          </div>
                          <div class="form-group">
                            <label>Image Category</label>
                            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="image.dType" class="form-control">
                              <option [ngValue]="7"> News Title Photo</option>
                              <option [ngValue]="4"> News Thumbnail Photo</option>
                              <option [ngValue]="8"> High Resolution Image</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <input type="checkbox" [value]="image.active"> Active
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <button class="pull-right btn-danger" (click)="imageList.splice(imageIndex, 1);"> Remove
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel">
              <form [formGroup]="addForm" (ngSubmit)="onSubmit()" id="addForm">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="active">Country</label>
                    <select formControlName="countryId" name="countryId" class="form-control">
                      <option [value]="country.id" *ngFor="let country of countries">{{ country.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" formControlName="title" name="title" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="priority">Priority</label>
                    <input type="text" formControlName="priority" name="priority" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="active">Active</label>
                    <input type="checkbox" formControlName="active" name="active" style="margin-left:15px;">
                  </div>
                  <button class="btn btn-success">Add</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
