<div class="login-page">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="login-form-header">
        <h1><strong>Admin</strong> Panel</h1>
      </div>
      <div class="all-form form-group col-md-3 col-xs-12">
        <!-- <label for="username">Username</label> -->
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.username.errors }"
          placeholder="Password" />
        <div *ngIf="submitted && formControl.username.errors" class="invalid-feedback">
          <div *ngIf="formControl.username.errors.required">Username is required</div>
        </div>
        <div class="form-group">
          <!-- <label for="password">Password</label> -->
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.password.errors }"
            placeholder="Password" />
          <div *ngIf="submitted && formControl.password.errors" class="invalid-feedback">
            <div *ngIf="formControl.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <div class="checkbox icheck">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox icheck">
              <label class="form-check-label" for="exampleCheck1" style="float:right;">I Forgot My Password</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </div>
    </form>
  </div>
