.login-page {
  width: 100%;
  height: 100%;
  .all-form {
    padding: 50px;
    background: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    .form-control {
      margin: 20px 0px;
    }
    .form-group button {
      margin: 10px 0px;
      width: 100%;
    }
  }
  .login-form-header {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}