.image-name{
  color: #dd4b39;
  margin: 20px 0px;
}

#specs .row:nth-child(even){
  background: #efefef;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:5px 0px;
}

#specs .row:nth-child(odd){
  background: transparent;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:5px 0px;
}

#feature .row:nth-child(even){
  background: #efefef;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:5px 0px;
}

#feature .row:nth-child(odd){
  background: transparent;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:5px 0px;
}


.example-container{
  padding:10px;
}

.example-container-green{
  padding:10px;
}

.example-container-green span{
  color: #8fd805;
}

.example-container-green i{
  color: #8fd805;
}

.example-container-blue{
  padding:10px;
}

.example-container-blue i{
  color: #05d8d0;
}

.example-container-blue span{
  color: #05d8d0;
}


.example-container-purple{
  padding:10px;
}

.example-container-purple i{
  color: #9e3fff;
}

.example-container-purple span{
  color: #9e3fff;
}

.example-container i,span{
  color: #eddf1c;
}

.example-text{
  padding: 10px;
  color: grey;
}

.example-header{
  color: #ed1c24;
  font-size: 16px;
}

.example-group{
  margin: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.fa-exclamation{
  color: #eddf1c;
  font-size: 16px;
  padding: 5px;
}