<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <h1 class="content-header">Add Category</h1>
        <div class="row">

          <div class="col-sm-8">
            <div class="panel">
              <div class="panel-body">
                <ul class="nav">
                  <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#text">Texts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#image">Images</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#specs">Specs</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#files">Files</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#feature">Feature</a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active" id="text">
                    <ul class="nav">
                      <li class="nav-item" style="display: inline-block;" *ngFor="let country of countries; let index = index"
                        [class.active]="index == 0">
                        <a class="nav-link" data-toggle="tab" href="#{{ country.code }}">{{ country.name }}</a>
                      </li>
                    </ul>

                    <div class="tab-content">
                      <div class="tab-pane" *ngFor="let country of countries; let countryIndex = index" [class.active]="countryIndex == 0"
                        id="{{ country.code }}">
                        <ul class="nav">
                          <li class="nav-item" style="display: inline-block;" *ngFor="let language of country.languages; let index = index"
                            [class.active]="index == 0">
                            <a class="nav-link" data-toggle="tab" href="#lang-{{ country.code }}-{{ language.code }}">{{
                              language.name }}</a>
                          </li>
                        </ul>

                        <div class="tab-content">
                          <div class="tab-pane" *ngFor="let language of country.languages; let index = index"
                            [class.active]="index == 0" id="lang-{{ country.code }}-{{ language.code }}">
                            <label class="edit-label">Name</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].name">
                            <label class="edit-label">Long Description</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].longDesc">
                            <label class="edit-label">Home Page Button Text</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].shortDesc">
                            <label class="edit-label">Keywords</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].keywords">
                            <label class="edit-label">Sub Title</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].subTitle">
                            <label class="edit-label">Sub Description</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].subDesc">
                            <label class="edit-label">Button Name</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].buttonName">
                            <label class="edit-label">Button Link</label>
                            <input type="text" class="form-control change-text" [(ngModel)]="text[country.id][language.id].buttonLink">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="image">
                    <div class="panel-body">
                      <div class="form-group">
                        <div class="row example-group">
                          <div class="col-sm-12 ">
                            <label class="example-header">Examples:</label>
                          </div>
                          <div class="col-sm-12 example-container">
                            <img src="{{exampleCategoryBanner}}" width="200" style="object-fit: contain;" (click)="showImage(exampleCategoryBanner)" />
                            <label class="example-text"><i class="fa fa-arrow-right"></i></label>
                            <img src="{{categoryBannerImage}}" width="100" style="object-fit: contain;" (click)="showImage(categoryBannerImage)" />
                            <label class="example-text">[<i class="fa fa-exclamation"></i><span>Yellow
                              </span> Area]Banner for Category Page( 1903 × 400 "%30 White Area") </label>
                          </div>
                          <div class="col-sm-12 example-container-green">
                            <img src="{{exampleProductBanner}}" width="200" style="object-fit: contain;" (click)="showImage(exampleProductBanner)" />
                            <label class="example-text"><i class="fa fa-arrow-right"></i></label>
                            <img src="{{productAreaBannerImage}}" width="100" style="object-fit: contain;" (click)="showImage(productAreaBannerImage)" />
                            <label class="example-text">[<i class="fa fa-exclamation"></i><span>Green
                              </span> Area]Banner for Product Area ( 1903 × 400 "%45 White Area") </label>
                          </div>
                          <div class="col-sm-12 example-container-blue">
                              <img src="{{examplethumbnail}}" width="200" style="object-fit: contain;" (click)="showImage(examplethumbnail)" />
                              <label class="example-text"><i class="fa fa-arrow-right"></i></label>
                              <label class="example-text">[<i class="fa fa-exclamation"></i><span>Blue
                              </span> Area] Category Thumbnail ( 400 × 400 ) </label>
                          </div>
                          <div class="col-sm-12  example-container-purple">
                            <img src="{{categoryIconImage}}" width="200" style="object-fit: contain;" (click)="showImage(categoryIconImage)" />
                            <label class="example-text"><i class="fa fa-arrow-right"></i></label>
                            <label class="example-text">[<i class="fa fa-exclamation"></i><span>Purple
                              </span> Area] Category Icon For Menu ( 590 × 392 ) </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Add Image</label>
                        <input #imageInput type="file" (change)="handleImageInput($event.target.files)" multiple>
                      </div>
                      <div class="form-group" *ngFor="let image of imageList; let imageIndex = index;">
                        <div class="col-sm-8">
                          <label class="image-name"> {{ image.name }} </label>
                          <div class="form-group">
                            <label>Image Name</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="image.dName" class="form-control" />
                          </div>
                          <div class="form-group">
                            <label>Image Priority</label>
                            <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="image.priority"
                              class="form-control" />
                          </div>
                          <div class="form-group">
                            <label>Image Category</label>
                            <!-- <select [ngModelOptions]="{standalone: true}" [(ngModel)]="image.dType" class="form-control">
                              <option *ngFor="let imageType of imageTypes" [ngValue]="imageType.code">
                                {{ imageType.name}}
                              </option>
                            </select> -->
                            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="image.dType" class="form-control">
                              <option [ngValue]="'categoryIcon'"> Category Icon for Menu Image</option>
                              <option [ngValue]="'categoryBanner'"> Category Banner for Category Page</option>
                              <option [ngValue]="'productsBanner'"> Category Banner for Product Area</option>
                              <option [ngValue]="'thumbnail'"> Category Thumbnail</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <input type="checkbox" [value]="image.active"> Active
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <button class="pull-right btn-danger" (click)="imageList.splice(imageIndex, 1);"> Remove
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="specs">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <label class="edit-label"> Spec Name </label>
                        </div>
                        <div class="col-sm-6">
                          <label class="edit-label"> Spec Value </label>
                        </div>
                      </div>
                      <div class="row" *ngFor="let spec of specs;">

                        <div class="col-sm-6">
                          <label class="edit-label" style="padding-top:0px;"> {{ spec.name }} </label>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="categorySpecs[spec.id]">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="files">
                    <div class="panel-body">
                      <div class="form-group">
                        <label>Add File</label>
                        <input #fileInput type="file" (change)="handleFileInput($event.target.files)" multiple>
                      </div>

                      <div class="form-group" *ngFor="let file of fileList; let fileIndex = index;">
                        <div class="col-sm-8">
                          <label> {{ file.name }} </label>
                          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="file.dName" style="margin-left:15px;" />
                          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="file.dType" style="margin-left:15px;">
                            <option *ngFor="let fileType of fileTypes" [ngValue]="fileType.code">{{ fileType.name }}</option>
                          </select>
                        </div>
                        <div class="col-sm-4">
                          <button class="pull-right btn-danger" (click)="fileList.splice(fileIndex, 1);"> Remove
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="feature">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-4">
                          <label class="edit-label"> Feature Name </label>
                        </div>
                        <div class="col-sm-8">
                          <label class="edit-label"> Feature Type </label>
                        </div>
                      </div>
                      <div class="row" *ngFor="let feature of features;">
                        <div class="col-sm-4">
                          <label for="{{feature.id}}"> {{ feature.name }} </label>
                        </div>
                        <div class="col-sm-8">
                          <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="categoryFeature[feature.id].value"
                            style="margin-right:15px;">
                          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="categoryFeature[feature.id].type">
                            <option *ngFor="let featureType of featureTypes" [ngValue]="featureType.id">{{
                              featureType.name }}</option>
                          </select> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel">
              <form [formGroup]="addForm" (ngSubmit)="onSubmit()" id="addForm">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="active">Category</label>
                    <select formControlName="parentId" name="parentId" class="form-control">
                      <option [value]="category.id" *ngFor="let category of categories">{{ category.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" name="name" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="keywords">Keywords</label>
                    <input type="text" formControlName="keywords" name="keywords" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="priority">Priority</label>
                    <input type="text" formControlName="priority" name="priority" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="active">Active</label>
                    <input type="checkbox" formControlName="active" name="active" style="margin-left:15px;">
                  </div>
                  <button class="btn btn-success">Add</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
