<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <section class="content-header">
      <section class="content" *ngFor="let item of country">
        <p>{{item.name}}</p>
      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
  <app-settingsnavbar></app-settingsnavbar>
</div>

<router-outlet></router-outlet>
