<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <div class="outer-table">
          <div class="create-buttons">
            <button class="btn btn-success pull-right" (click)="addNews()"> Add News</button>
          </div>
          <table id="dataTable" class="row-border hover table table-striped" style="margin-top:20px">
            <thead>
              <tr>
                <th>Title</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of news">
                <td>{{item.title}}</td>
                <td>
                  <button class="btn btn-danger pull-right table-button" (click)="deleteNews(item)">Delete</button>
                  <button class="btn btn-info pull-right table-button" (click)="editNews(item)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
