<div class="wrapper">
    <div class="content-wrapper">
      <div class="content-header">
        <div class="content">
          <div class="outer-table">
            <h1 class="content-header">Edit Brochure</h1>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()" id="editForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name" name="name" class="form-control">
              </div>
              <div class="form-group">
                <label>Country</label>
                <select formControlName="countryId" name="countryId" class="form-control">
                  <option [ngValue]="country.id" *ngFor="let country of countries ">{{ country.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="text">Text</label>
                <input type="text" formControlName="text" name="text" class="form-control">
              </div>
              <div class="form-group">
                  <img src="{{ brochureImages }}" width="100" height="100" style="object-fit: contain; padding-right: 15px;"
                    (click)="showImage(brochureImages)" />
                </div>
              <div class="form-group">
                <label for="image">Image  ( 418 x 592 )</label>
                <input type="file" #imageInput  (change)="handleImageInput($event.target.files)">
              </div>
              <div class="form-group">
                  <label>{{brochureFile}}</label>
                </div>
                <div class="form-group">
                  <label>File</label>
                  <input type="file" #fileInput (change)="handleFileInput($event.target.files)">
                </div>
              <div class="form-group">
                <label for="priority">Priority</label>
                <input type="number" formControlName="priority" name="priority" class="form-control">
              </div>
              <div class="form-group">
                <label for="active">Active</label>
                <input type="checkbox" formControlName="active" name="active" style="margin-left:15px;">
              </div>
              <button class="btn btn-success">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  