<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <div class="outer-table">
          <div class="create-buttons">
            <button class="btn btn-success pull-right" (click)="addLogo()">Add Logo</button>
          </div>
          <table id="dataTable" class="row-border hover table table-striped" style="margin-top:20px">
            <thead>
              <tr>
                <th>Name</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of logo">
                <td>{{item.name}}</td>
                <td>
                  <button class="btn btn-danger pull-right table-button" (click)="deleteLogo(item)">Delete</button>
                  <button class="btn btn-info pull-right table-button" (click)="editLogo(item)" style="margin-left: 20px;">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
