<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <div class="outer-table">
          <table class="row-border hover table table-striped" style="margin-top:20px">
            <thead>
              <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>SerialNumber</th>
                <th>Address</th>
                <th>Address2</th>
                <th>City</th>
                <th>Contact</th>
                <th>Country</th>
                <th>Email</th>
                <th>Phone</th>
                <th>PostCode</th>
                <th>Retailer Address</th>
                <th>Retailer Address 2</th>
                <th>Retailer City</th>
                <th>Retailer Country</th>
                <th>Retailer Name</th>
                <th>Retailer PostCode</th>
                <th>Share</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productRegister">
                <td>{{item.address}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.serialNumber}}</td>
                <td>{{item.address}}</td>
                <td>{{item.address2}}</td>
                <td>{{item.city}}</td>  
                <td>{{item.contact}}</td>
                <td>{{item.country}}</td>
                <td>{{item.email}}</td>  
                <td>{{item.phone}}</td>
                <td>{{item.postCode}}</td>
                <td>{{item.retailerAddress}}</td>
                <td>{{item.retailerAddress2}}</td>
                <td>{{item.retailerCity}}</td>
                <td>{{item.retailerCountry}}</td>
                <td>{{item.retailerName}}</td>
                <td>{{item.retailerPostCode}}</td>
                <td>{{item.share}}</td>
                <td>{{item.title}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
