<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <div class="outer-table">
          <h1 class="content-header">Add Faq Type</h1>
          <form [formGroup]="addForm" (ngSubmit)="onSubmit()" id="addForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" name="code" class="form-control">
            </div>
            <div class="form-group">
              <label for="code">Code</label>
              <input type="text" formControlName="code" name="code" class="form-control">
            </div>
            <button class="btn btn-success">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
