@import url(assets/bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url(assets/bower_components/font-awesome/css/font-awesome.min.css);
@import url(assets/bower_components/Ionicons/css/ionicons.min.css);
@import url(assets/bower_components/jvectormap/jquery-jvectormap.css);
@import url(assets/dist/css/AdminLTE.min.css);
@import url(assets/dist/css/skins/_all-skins.min.css);
@import "assets/plugins/iCheck/square/blue.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  background: #d2d6de;
  font-family: 'Lato', sans-serif;
}

.sidebar-menu li>a{
  font-family: 'Lato', sans-serif;
}

.fa{
  font-size:17px;
  padding-righT:10px;
}

.content {
  .content-header {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
  }

  .panel {
    .nav {
      background: #e0e1e7;
      margin-top: 20px;

      li {
        display: inline-block;

        a {
          color: #6d6c6c;
          text-transform: uppercase;
        }
      }
    }
    .tab-content {
      .tab-pane {
        .edit-label{
          padding-top:20px;
        }
      }
    }
  }
}

.nav-item.active {
  background: #f7f7f7;
}

.create-buttons {
  button {
    margin: 15px 0px;
  }
}

.table-button {
  margin-right: 15px;
}

.dataTable thead th,
table.dataTable thead td {
  border-bottom: 2px solid #ddd !important;
}

.dataTable.no-footer {
  border-bottom: none !important;
}

.dataTables_filter input[type=search],
#dataTable_length select {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff; 
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#dataTable_paginate {
  margin-top: 20px;
}

#dataTable{
  padding-top:20px;
}

.outer-table{
  background:#FFF;
  padding:20px;
  border-color: #eff2f7;
}

.img-ul-clear{
  background: #de3238 !important;
  font-size: 13px !important;
}

.img-ul-upload.img-ul-button{
  font-size: 13px !important;
}

.img-ul-drag-box-msg{
  padding-top:10px !important;
}

.table-responsive{
  padding:10px;
}

table .btn.btn-danger, table .btn.btn-info{
  width:65px;
}

#dataTable{
  width:100% !important;
}

#dataTable ul li{
  word-break: break-all !important;
}